@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

/*#8D66A5*/

header {
    background-color: #4B4B4C;
    color: white;
    text-align: center;
}

header > h1 {
    font-size: 3em;
    padding: 30px 0px;
}

header > p {
    padding: 0px 0px 40px 0px;
}

table {
    border-collapse: collapse;
    background-color: #F8F9FA;
    width: 800px;
    text-align: center;
}

div.tabela {
    background-color: white;
    padding: 40px 0px;
    display: flex;
    flex: content;
    justify-content: center;
}

table > caption {
    font-size: 2em;
    padding: 10px;
}

table > thead {
    background-color: #EAECF0;
}

tbody > tr:hover {
    background-color: lightgray;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

td.estado {
    text-align: left;
}

td.estado > a {
    text-decoration: none;
}

td.estado > a:hover {
    text-decoration: underline;
}

td.mudanca {
    color: green;
}

div.referencias {
    padding: 20px;
}

div.referencias > h2 {
    padding-bottom: 20px;
}

div.referencias > ol {
    list-style-position: inside;
    line-height: 1.5em;
}

footer {
    background-color: #4B4B4C;
    color: white;
    text-align: center;
    padding: 10px 0px;
}
